*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.page1{
    height:100%;
    width: 100%;
    background-color: black;
    margin-top: 0;
    padding-top:40px;

}
.nav{
    
    height:5%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #454545;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.nav >h5{
    color: #ffff;
}

.nav >i{
    color: #fff;
}

.nav2{
    height:4%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #ffff;
}

.mid1{
    height:100%;
    width: 100%;
    padding: 20px;
    background-color: black;
    background-image: url(https://www.apple.com/v/home/ba/images/heroes/iphone-14-pro/hero_iphone14pro_spring__9xo85pm6sbmm_large_2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

.mid1 > h1{
    color: #fff;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

.mid1 > h2{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

a{
    text-decoration: none;
    margin-right: 10px;
    color: royalblue;
    font-size: 20px;
    margin: 20px;

   
}

.links{
    text-align: center;
    padding-top: 10px;

}

.page2{
    height: 100%;
    width: 100%;
    background-color: white;

}
 .mid2{
    height:86%;
    width: 100%;
    padding: 20px;
    background-color:white;
    background-image: url(https://www.apple.com/v/home/ba/images/heroes/iphone-14/hero_iphone14_yellow__eun20sn4imi6_large_2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

.mid2 > h1{
    color: black;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

.mid2 > h2{
    color: black;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}




.page3{
    height: 100%;
    width: 100%;
    background-color:white;
    display:flex;
    justify-content: space-evenly;
    
}

.page3-left{
    width: 50%;
    height: 100%;
    border: 10px white solid;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/in/home/promos/apple-watch-series-8/images/promo_apple_watch_series_8_spring__d9hfvufh7hyu_medium.jpg);
}

.page3-right{
    width: 50%;
    height: 100%;
    border: 10px white solid;
    background-color: cyan;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/home/ba/images/promos/ipad/promo_ipad__fioegapg12qi_medium.jpg);
}

.mid3{
    height:86%;
    width: 100%;
    padding: 20px;
    /* background-color:white;
    background-image: url(https://www.apple.com/v/home/ba/images/heroes/iphone-14/hero_iphone14_yellow__eun20sn4imi6_large_2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */


}

.mid3 > h1{
    color:WHITE;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

.mid3 > h2{
    color: black;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.mid3 > h5{
    color: red;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content:center ;
}

#phone{
    color: black;
}



.page4{
    height: 100%;
    width: 100%;
    background-color:white;
    display:flex ;
    justify-content: space-evenly;
    
    
}


.page4-left{
    width: 50%;
    height:100%;
    border: 10px white solid;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/home/ba/images/promos/macbook-pro-14-and-16/promo_mbp__ek7p477bkp6q_medium.jpg);
}

.page4-right{
    width: 50%;
    height: 100%;
    border: 10px white solid;
    background-color: cyan;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/home/ba/images/promos/apple-watch-pride/promo_pride23__cnpic94fthle_medium.jpg);
}


.mid4{
    height:86%;
    width: 100%;
    padding: 20px;
    /* background-color:white;
    background-image: url(https://www.apple.com/v/home/ba/images/heroes/iphone-14/hero_iphone14_yellow__eun20sn4imi6_large_2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */


}

.mid4 > h1{
    color:WHITE;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

.mid4> h2{
    color: black;
    font-size: 30px;
    font-weight: 600;
    text-align: center;

}

.mid4 > h5{
    color:white;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content:center ;
}

#phone{
    color: black;
}
#mac{
    color: white;
}
#head{
    color: black;
}

.page5{
    height: 100%;
    width: 100%;
    background-color:white;
    display:flex;
    justify-content: space-evenly;

}

.page5-left{
    width: 50%;
    height:100%;
    border: 10px white solid;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/home/ba/images/promos/ipad-pro/promo_ipadpro__ch217v9v7no2_medium.jpg);
}

.page5-right{
    width: 50%;
    height: 100%;
    border: 10px white solid;
    background-color: cyan;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:  url(https://www.apple.com/v/home/ba/images/promos/homepod/promo_homepod_announce__bhviq9vjnlf6_medium.jpg);
}


.mid5 > h1{
    color:WHITE;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

.mid5 > h2{
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;

}

/* #ipadpro{
    color: white;
}

#super{
    color: white;
}
#homepod{
    color: white;
}
#profound{
    color: white;
} */